/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/** Custom Styling  */
:root{
  --bgColor: #1e202a;
  --topBg: #1f212e;
  --cardBg: #252a41;
  --subText: #8b97c6;
  --mainText: #ffffff;
  --themeBtnCol1: #378fe6;
  --themeBtnCol2: #3eda82;
}
*{
  font-family: 'Inter', sans-serif;
  padding: 0;
}button{
  cursor: pointer;
}body{
  background-color: var(--bgColor);
  background-image: linear-gradient(to bottom, var(--topBg) 0 45%, var(--bgColor) 45%);
  background-repeat: no-repeat;
}
#container{
  padding: 1em;
  max-width: 1000px;
  margin: 0 auto;
}
header{
  padding: 1em 0 2em;
}
header h1{
  color: var(--mainText);
  font-size: min(1.5rem, 15vw);
  font-weight: 700;
}header p{
  color: var(--subText);
  font-size: .9rem;
  font-weight: 700;
}.header--top{
  line-height: 1.5;
  padding-bottom: 1em;
  border-bottom: solid 1px var(--subText);
}.header--theme{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .75em 0;
}.header--theme button{
  position: relative;
  width: 50%;
  max-width: 60px;
  height: 30px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: var(--themeBtnCol1);
  background-image: linear-gradient(to right, var(--themeBtnCol1), var(--themeBtnCol2));
}.header--theme button span{
  position: absolute;
  top: 50%;
  right: 10%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translateY(-50%);
  background-color: var(--topBg);
}
/** End of header styling */

.mainlist{
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(200px, 50%), 1fr));
  gap: 1em;
  text-align: center;
  place-items: center;
}
.mainlist--card{
  background-color: var(--cardBg);
  border-radius: 5px;
  padding: 1.5em 0;
  border-top: solid 5px; 
  max-width: 310px;
  width: 100%;
  cursor: pointer;
  transition: filter .3s linear;
}.fb{
  border-top-color: #378fe6;
}.twitter{
  border-top-color: #1ca0f2;
}.insta{
  border-top-color: transparent;
  /*! This was what I'm used to using when creating border gradients. */
  /* border-image: linear-gradient(to right, #fdc468,#df4996) 1; */
  /*! But it doesn't work with border radiuses. So I searched for another method */
  /** Second method that works with border-radius. It involves masking of backgrounds.  */
  background: linear-gradient(var(--cardBg), var(--cardBg)) padding-box,
              linear-gradient(to right, #fdc468, #df4996) border-box;
}.yt{
  border-top-color: #c4032a;
}
.mainlist--handles{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3%;
}.mainlist--handles p{
  color: var(--subText);
  font-weight: 700;
  font-size: .8rem;
}.mainlist--followers{
  padding: 1em 0;
  color: var(--mainText);
  display: flex;
  flex-direction: column;
  align-items: center;
}.mainlist--followers p:first-of-type{
  font-size:3rem;
  line-height: 1.2;
  font-weight: 700;
}.mainlist--followers p:last-of-type{
  font-weight:100;
  font-size: .75rem;
  letter-spacing: 6px;
  text-align: center;
  color: var(--subText);
  text-transform: uppercase;
}.mainlist--metrics{
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .4em;
  color: #1db489;
  font-size: .75rem;
  font-weight: 700;
}
/** End of mainlist styling  */
section{
  padding: 2em 0;
}section h2{
  color: var(--mainText);
  margin-bottom: .75em;
}
.sectionlist{
  list-style: none;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(min(230px, 70%), 1fr));
}
.sectionlist--card{
  background-color: var(--cardBg);
  width: 100%;
  border-radius: 5px;
  padding: 1.5em 1em;
  cursor: pointer;
  transition: filter .3s linear;
}.sectionlist--card div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}.sectionlist--platform{
  margin-bottom: .75em;
}.sectionlist--platform p{
  color: var(--subText);
  font-weight: 700;
  font-size: 1rem;
}.sectionlist--metric > p{
  color: var(--mainText);
  font-size: 2rem;
  font-weight: 700;
}.sectionlist--metric > div{
  color: #1db489;
  display: flex;
  align-items: center;
  column-gap: .2em;
  font-weight: 700;
  transform: translateY(.3em);
}

.mainlist--card:hover, .sectionlist--card:hover{
  filter: contrast(85%);
}


.decrease{
  color: #dc414c;
}

@media(min-width: 700px){
  body{
    background-image: linear-gradient(to bottom, var(--topBg) 0 30%, var(--bgColor) 30%)
  }
  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header--top{
    border: none;
    padding: 0%;
  }
  .header--theme{
    width: 30%;
    max-width: 150px;
  }
}