/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/** Custom Styling  */
:root{
  --bgColor: #1e202a;
  --topBg: #1f212e;
  --cardBg: #252a41;
  --subText: #8b97c6;
  --mainText: #ffffff;
}
*{
  font-family: 'Inter', sans-serif;
  padding: 0;
}
#container{
  padding: 1em;
  background-color: var(--bgColor);
  background-image: linear-gradient(to bottom, var(--topBg) 12%, var(--bgColor) 12%);
}
header{
  padding: 1em 0;
}
header h1{
  color: var(--mainText);
  font-size: min(1.5rem, 15vw);
  font-weight: 700;
}header p{
  color: var(--subText);
  font-size: .9rem;
  font-weight: 700;
}.header--top{
  line-height: 1.5;
  padding-bottom: 1em;
  border-bottom: solid 1px var(--subText);
}
